h1{
  text-align:center;
  color:lightyellow;
}

body{
 color:red;
 border-color:purple;
 background-color:dodgerblue;
}

h3{
  text-align:center;
  color: green;
  text-decoration:underline;
}

h2{
  text-align:center;
  color:yellow;
  text-decoration:underline;

}

#main{
  height: 700px;
  border:1px solid black;

}

#quest{
  float:left;
  border:1px solid black;
  width:400px;
  height:100%;
  background-color: skyblue;
  text-align:center;
}

#ans{
  text-align:center;
  border:1px solid black;
  height:auto;
  width:100%;
  background-color: powderblue;
  height:100%;
}
